*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --lightblue:rgb(42, 42, 255);
    --white: white;
    --grey: grey;
    --cyan:rgb(103, 255, 255);
    --black: black;
    --width: 33vw;
    --font-family:sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');
main{
    width: 100vw;
    height: 100vh;
}
.whitebox{
    height: 375px;
    width: 375px;
    position: absolute;
    background-color: var(--white);
    border: solid .2rem transparent;
    box-shadow: 0 0 10px  rgba(0,0,0,.6);
    padding: 1rem;
    top:150px ;
    left: 470px;
    border-top-right-radius:50px ;
    border-bottom-left-radius:50px ;
    border-top-left-radius: 50px ;
    border-bottom-right-radius: 50px;
}
.login{
    position: absolute;
    z-index: 2;
    font-family: sans-serif;
    font-size: larger;
    font-weight: bolder;
    top: 30px;
    left: 150px;
}
.words1{
    position: absolute;
    z-index: 2;
    font-family: sans-serif;
    font-weight: bold;
    font-size: smaller;
    top: 70px;
    left: 88px;
}
.signup{
    position: absolute;
    z-index: 2;
    font-family: sans-serif;
    font-size: smaller;
    top: 70px;
    left: 242px;
}
.signup a:visited {
    color: var(--lightblue);
}
.signup a:active {
    color:var(--lightblue);
}
.username{
    position: absolute;
    z-index: 2;
    top: 130px;
    left: 30px;
    width: 310px;
    height: 40px;
    border: solid  rgb(231, 230, 230);
    border-top-right-radius:50px ;
    border-bottom-left-radius:50px ;
    border-top-left-radius: 50px ;
    border-bottom-right-radius: 50px;
}
.password{
    position: absolute;
    z-index: 2;
    top: 180px;
    left: 30px;
    width: 310px;
    height: 40px;
    border: solid rgb(231, 230, 230);
    border-top-right-radius:50px ;
    border-bottom-left-radius:50px ;
    border-top-left-radius: 50px ;
    border-bottom-right-radius: 50px;
}
.fp{
    position: absolute;
    z-index: 3;
    color: rgb(202, 202, 202);
    font-size: small;
    font-family: sans-serif;
    top: 385px;
    left: 700px;
}
.fp a:visited {
    color: rgb(202, 202, 202);
}
.fp a:active {
    color:rgb(202, 202, 202);
}
.fp a{
    color: rgb(202, 202, 202);
    text-decoration: none;
}
.signin{
    text-decoration: none;
    position: absolute;
    z-index: 2;
    top: 280px;
    left: 30px;
    width: 310px;
    height: 40px;
    border: solid transparent;
    background-image: linear-gradient(to left, var(--lightblue),rgb(77, 77, 246),var(--cyan));
    border-top-right-radius:50px ;
    border-bottom-left-radius:50px ;
    border-top-left-radius: 50px ;
    border-bottom-right-radius: 50px;
}
.signin a:visited {
    color: var(--white);
}
.signin a:active {
    color:var(--white);
}
.signin a{
    text-decoration: none;
}

@media screen and  (max-width: 767px) { 
    :root{
        --lightblue:rgb(42, 42, 255);
        --white: white;
        --grey: grey;
        --cyan:rgb(103, 255, 255);
        --black: black;
        --width: 33vw;
        --font-family:sans-serif;
    }
    @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');
    main{
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to top right, white, white) ;
    } 
    .whitebox{
        height: 375px;
        width: 375px;
        position: absolute;
        background-color: var(--white);
        border: solid .2rem transparent;
        box-shadow: 0 0 10px  rgba(0,0,0,.6);
        padding: 1rem;
        top:100px ;
        left: 220px;
        border-top-right-radius:50px ;
        border-bottom-left-radius:50px ;
        border-top-left-radius: 50px ;
        border-bottom-right-radius: 50px;
    }
    .login{
        position: absolute;
        z-index: 2;
        font-family: sans-serif;
        font-size: larger;
        font-weight: bolder;
        top: 30px;
        left: 150px;
    }
    .words1{
        position: absolute;
        z-index: 2;
        font-family: sans-serif;
        font-weight: bold;
        font-size: smaller;
        top: 70px;
        left: 88px;
    }
    .signup{
        position: absolute;
        z-index: 2;
        font-family: sans-serif;
        font-size: smaller;
        top: 70px;
        left: 242px;
    }
    .signup a:visited {
        color: var(--lightblue);
    }
    .signup a:active {
        color:var(--lightblue);
    }
    .username{
        position: absolute;
        z-index: 2;
        top: 130px;
        left: 30px;
        width: 310px;
        height: 40px;
        border: solid  rgb(231, 230, 230);
        border-top-right-radius:50px ;
        border-bottom-left-radius:50px ;
        border-top-left-radius: 50px ;
        border-bottom-right-radius: 50px;
    }
    .password{
        position: absolute;
        z-index: 2;
        top: 180px;
        left: 30px;
        width: 310px;
        height: 40px;
        border: solid rgb(231, 230, 230);
        border-top-right-radius:50px ;
        border-bottom-left-radius:50px ;
        border-top-left-radius: 50px ;
        border-bottom-right-radius: 50px;
    }
    .fp{
        position: absolute;
        z-index: 3;
        color: rgb(202, 202, 202);
        font-size: small;
        font-family: sans-serif;
        top: 335px;
        left: 450px;
    }
    .fp a:visited {
        color: rgb(202, 202, 202);
    }
    .fp a:active {
        color:rgb(202, 202, 202);
    }
    .fp a{
        color: rgb(202, 202, 202);
        text-decoration: none;
    }
    .signin{
        text-decoration: none;
        position: absolute;
        z-index: 2;
        top: 280px;
        left: 30px;
        width: 310px;
        height: 40px;
        border: solid transparent;
        background-image: linear-gradient(to left, var(--lightblue),rgb(77, 77, 246),var(--cyan));
        border-top-right-radius:50px ;
        border-bottom-left-radius:50px ;
        border-top-left-radius: 50px ;
        border-bottom-right-radius: 50px;
    }
    .signin a:visited {
        color: var(--white);
    }
    .signin a:active {
        color:var(--white);
    }
    .signin a{
        text-decoration: none;
    }
}    